body{
    margin: 0;
    background-color: #deedfc;
}

.HeadBar{
    background-color: #7ec2f0; 
    margin: 0;
    padding: 10px;
    width: 100%; 
    height: min-content;
}

.Menu{
    background-image: url("./assets/icons/menu.svg");
    background-size: cover;
    width: 24px; 
    height: 24px;
}
.menu:hover{
    background-image: url("./assets/icons/menu_open.svg");
}

.MenuOpen{
    background-color: rgb(228, 228, 228);
    position: absolute;
}

.ItemGroup{
    padding-left: 10px;
    height: min-content;
}

.Item{
    padding: 10px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(36, 36, 36);
    cursor: pointer;
}
.Item:hover{
    background-color: rgb(209, 209, 209);
}

.CardContent{
    text-align: center;
}

.Card{
    display: inline-block;
    margin: 20px;
    padding: 5px 0 5px 0;
    width: 30%;
    height: min-content;
    background-color: rgb(230, 240, 92);
}

.CardHeader{
    margin: 5px 0 5px 0;
    padding: 10px;
    background-color: rgb(153, 153, 153);
}

.CardImage{
    margin: 5px 0 5px 0;
    background-color: rgb(153, 153, 153);
}

.CardDescription{
    margin: 5px 0 5px 0;
    padding: 10px;
    background-color: rgb(153, 153, 153);
}