:root{
    --pallete-color-1: #1fa8f7;
    --pallete-color-2: #4bbdff;
    --pallete-color-3: #95d8ff;
    --pallete-color-4: #5f8ca7;
    --pallete-color-5: #b8d7f3;
    --pallete-color-6: #e9f1f8;
    --font-pallete-color-1: #d4d4d4;
    --font-pallete-color-2: #a0a0a0;
    --font-pallete-color-3: #646464;
    --font-pallete-color-4: #3f3f3f;
}

body{
    background-color: var(--pallete-color-1);
    margin: 0;

    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--font-pallete-color-2);
    outline: 1px solid var(--font-pallete-color-1);
    border-radius: 5px;
}

.head{
    margin-top: 0;
    border-radius: 0 0 10px 10px;
}

.content{
    position: fixed;
    background-color: var(--pallete-color-2);
    top: 44px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
}


.container{
    position: fixed;
    background-color: var(--pallete-color-5);
    top: 59px;
    left: 15px;
    bottom: 10px;
    right: 15px;
    border-radius: 20px;
    overflow: auto;
}

.bar{
    margin: 0;
    padding: 10px;
    height: min-content;
}

.protruding{
    background-color: var(--pallete-color-3);/*
    border-top: 1px solid var(--pallete-color-4);
    border-right: 1px solid var(--pallete-color-4);*/
    border-left: 3px solid var(--pallete-color-4);
    border-bottom: 3px solid var(--pallete-color-4);
    margin: 5px;
    border-radius: 5px;
}

.sunken{
    background-color: var(--pallete-color-3);/*
    border-top: 1px solid var(--pallete-color-4);*/
    border-right: 3px solid var(--pallete-color-4);/*
    border-left: 1px solid var(--pallete-color-4);*/
    border-bottom: 3px solid var(--pallete-color-4);
    margin: 5px;
    border-radius: 5px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.width-half{
    display: inline-block;
    width: 30%;
}

.width-max{
    width: 100%;
}

.height-min-content{
    height: min-content;
}

.menu{
    background-image: url("./assets/icons/menu.svg");
    background-size: cover;
    cursor: pointer;
    width: 24px; 
    height: 24px;
}
.menu:hover{
    background-image: url("./assets/icons/menu_open.svg");
}

.menu-list{
    position: fixed;
    background-color: var(--font-pallete-color-1);
    top: 44px;
    left: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 0 0 5px 0;
}

.list{
    padding-left: 10px;
    height: min-content;
}

.item{
    padding: 10px;
    color: var(--font-pallete-color-3);
    cursor: pointer;
}
.item:hover{
    background-color: var(--font-pallete-color-2);
}

.card-container{
    text-align: center;
}

.card{
    display: inline-block;
    background-color: var(--pallete-color-4);
    margin: 20px;
    padding: 5px 0 5px 0;
    width: 25%;
    min-width: 150px;
    height: min-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #3f3f3f;
    color: var(--font-pallete-color-3);
}

.card-header{
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 11px;
    background-color: var(--pallete-color-3);
}

.card-image{
    margin: 5px 0 5px 0;
    background-color: var(--pallete-color-3);
}
img.card-image{
    max-height: 100px;
    max-width: 100px;
}

.card-description{
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 9px;
    background-color: var(--pallete-color-3);
}

.little-card{
    background-color: var(--pallete-color-1);
    border-top: 1px solid var(--pallete-color-4);
    border-bottom: 1px solid var(--pallete-color-4);
    padding: 3px 0 3px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: min-content;
}

.little-card-tittle{
    font-size: 10px;
}

.little-card-description{
    font-size: 8px;
}

.label{
    background-color: var(--pallete-color-1);
    padding: 3px 0 3px 0;
    border-top: 1px solid var(--pallete-color-4);
    border-bottom: 1px solid var(--pallete-color-4);
    width: 100%;
    height: min-content;
}

.label-tittle{
    font-size: 11px;
}

.label-description{
    font-size: 9px;
}